@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,600&family=Victor+Mono:ital,wght@0,100;1,600&display=swap");

body {
  background-color: rgb(166, 165, 154);
}
* {
  margin: 0;
  padding: 0;
}
nav {
  font-family: "Victor Mono", monospace;
}
nav ul {
  display: flex;
  list-style-type: none;
  height: 65px;
  background-color: black;
  color: white;
  align-items: center;
}
.brand img {
  width: 44px;
  padding: 0 8px;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rm;
}
nav ul li {
  padding: 12px;
}
.container {
  min-height: 80vh;
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  margin: 23px auto;
  width: 86%;
  border-radius: 12px;
  padding: 34px;
  background-image: url("bg.jpg");
  background-size: cover;
}
.bottom {
  position: sticky;
  height: 130px;
  background-color: black;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}
.icons {
  margin-top: 14px;
}
.icons i {
  cursor: pointer;
}
#myProgressBar {
  width: 80vw;
}
.songitem {
  height: 50px;
  display: flex;
  background-color: rgb(166, 165, 154);
 
  color: black;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
}
.songitem img {
  width: 42px;
  margin:0 23px;
  border-radius: 30px ;
}
.timespan{
  height: 50px;
  display: flex;


  color: black;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
cursor: pointer;
}
.fa-play-circle:before {
  padding: 10px;
  content: "\f144";
 font-size: 0.9em;
}
.songitemcontainer{
  margin-top: 70px;
}
.songinfo{
  position:absolute;
  left:10vw
}
.songinfo img{
  opacity: 0;
  transition: opacity 1s ease-in;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}